{
  "openapi": "3.0.3",
  "info": {
    "title": "Protogen FR | Public API",
    "description": "End-user REST API for the Protogen FR media platform. All endpoints are relative to the base URL `https://v2.protogen.fr/api`. Authentication can be done via the `PROTOGEN_SESSION` cookie or the `X-Api-Key` request header (raw token). Endpoints that require authentication return `401` when credentials are missing or invalid.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://v2.protogen.fr/api",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "PROTOGEN_SESSION",
        "description": "Session cookie issued after a successful login."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Raw session token passed as a request header. Alternative to the PROTOGEN_SESSION cookie."
      }
    },
    "schemas": {
      "SuccessBoolean": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          }
        }
      },
      "VideoSummary": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string",
            "example": "aBcDeFgHiJk"
          },
          "title": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          },
          "duration": {
            "type": "string",
            "example": "12:34"
          },
          "owner_name": {
            "type": "string"
          },
          "owner_picture": {
            "type": "string",
            "format": "uri"
          },
          "owner_id": {
            "type": "string",
            "description": "Owner username"
          },
          "views": {
            "type": "string",
            "example": "1,234"
          }
        }
      },
      "VideoMeta": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "encoding",
              "completed",
              "failed"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "members-only",
              "private"
            ]
          },
          "owner": {
            "type": "integer"
          },
          "ownerUsername": {
            "type": "string"
          },
          "ownerDisplayName": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "video_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "author_id": {
            "type": "integer"
          },
          "author_username": {
            "type": "string"
          },
          "likes": {
            "type": "integer"
          },
          "dislikes": {
            "type": "integer"
          },
          "user_like_status": {
            "type": "string",
            "enum": [
              "like",
              "dislike",
              "none"
            ],
            "description": "Only present when authenticated."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reply_count": {
            "type": "integer"
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ]
          },
          "owner_id": {
            "type": "integer"
          },
          "video_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlaylistItem": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          },
          "position": {
            "type": "integer"
          },
          "views": {
            "type": "integer"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "is_read": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChannelMeta": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "integer"
              },
              "bio": {
                "type": "string"
              },
              "business_email": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "website_url": {
                "type": "string",
                "format": "uri"
              },
              "twitter_url": {
                "type": "string",
                "format": "uri"
              },
              "instagram_url": {
                "type": "string",
                "format": "uri"
              },
              "discord_url": {
                "type": "string",
                "format": "uri"
              },
              "subscriber_count": {
                "type": "integer"
              }
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "username": {
                "type": "string"
              },
              "displayname": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "elevated": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              },
              "onboarded": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ]
              }
            }
          }
        }
      },
      "MediaItem": {
        "type": "object",
        "description": "Extended video item with stream URL (used for music and owner listings)",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          },
          "duration": {
            "type": "string",
            "example": "3:45"
          },
          "stream_url": {
            "type": "string",
            "format": "uri"
          },
          "owner_name": {
            "type": "string"
          },
          "owner_picture": {
            "type": "string",
            "format": "uri"
          },
          "owner_id": {
            "type": "string",
            "description": "Owner username"
          },
          "views": {
            "type": "string",
            "example": "1,234"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "members-only",
              "private"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "KalendarEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "video_id": {
            "type": "string"
          },
          "reveal_date": {
            "type": "string",
            "format": "date"
          },
          "revealed": {
            "type": "boolean"
          }
        }
      },
      "Movie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "video_id": {
            "type": "string"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "poster_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Full TMDB poster image URL (w500)"
          },
          "backdrop_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Full TMDB backdrop image URL (w1280)"
          },
          "release_date": {
            "type": "string",
            "format": "date"
          },
          "duration": {
            "type": "integer",
            "description": "Runtime in minutes"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Series": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "backdrop_path": {
            "type": "string",
            "nullable": true
          },
          "poster_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Full TMDB poster image URL (w500)"
          },
          "backdrop_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Full TMDB backdrop image URL (w1280)"
          },
          "seasons_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Season": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "series_id": {
            "type": "integer"
          },
          "season_number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "overview": {
            "type": "string",
            "nullable": true
          },
          "air_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "episode_count": {
            "type": "integer",
            "description": "TMDB episode count"
          },
          "actual_episode_count": {
            "type": "integer",
            "description": "Episodes actually in the database"
          },
          "poster_path": {
            "type": "string",
            "nullable": true
          },
          "poster_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Full TMDB poster image URL (w342)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Episode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "season_id": {
            "type": "integer"
          },
          "episode_number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "overview": {
            "type": "string",
            "nullable": true
          },
          "air_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "runtime": {
            "type": "integer",
            "nullable": true,
            "description": "Runtime in minutes"
          },
          "still_path": {
            "type": "string",
            "nullable": true
          },
          "still_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Full TMDB episode still image URL (w300)"
          },
          "video_id": {
            "type": "string",
            "nullable": true
          },
          "breakpoints": {
            "type": "object",
            "nullable": true
          },
          "encoding_status": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CinemaSession": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_by": {
            "type": "integer"
          },
          "queue": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UserPublicInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "displayname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "onboarded": {
            "type": "boolean"
          },
          "elevated": {
            "type": "boolean"
          },
          "isDj": {
            "type": "boolean"
          },
          "picture": {
            "type": "string",
            "description": "URL to profile picture"
          },
          "banner": {
            "type": "string",
            "description": "URL to banner image"
          }
        }
      },
      "ManagedSeason": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "season_number": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "poster_url": {
            "type": "string",
            "nullable": true
          },
          "episode_count": {
            "type": "integer"
          }
        }
      },
      "ManagedEpisode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "episode_number": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "video_id": {
            "type": "string",
            "nullable": true
          },
          "thumbnail_url": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "processing",
              "pending",
              "failed",
              "unknown"
            ]
          }
        }
      },
      "SeriesProgress": {
        "type": "object",
        "properties": {
          "episode_id": {
            "type": "integer"
          },
          "video_id": {
            "type": "string"
          },
          "current_time": {
            "type": "number",
            "description": "Playback position in seconds"
          },
          "duration": {
            "type": "number",
            "nullable": true
          },
          "progress_percent": {
            "type": "number"
          },
          "completed": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChannelPlaylist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private",
              "unlisted"
            ]
          },
          "owner": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "videoCount": {
            "type": "integer",
            "description": "Number of videos in the playlist"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and session management"
    },
    {
      "name": "Search",
      "description": "Full-text search and autocomplete"
    },
    {
      "name": "Media",
      "description": "Videos: browse, metadata, likes, watch later"
    },
    {
      "name": "Channels",
      "description": "Channel info and subscriptions"
    },
    {
      "name": "Comments",
      "description": "Comment CRUD and reactions"
    },
    {
      "name": "Playlists",
      "description": "Playlist management"
    },
    {
      "name": "Notifications",
      "description": "User notification feed"
    },
    {
      "name": "History",
      "description": "Watch history tracking"
    },
    {
      "name": "Encoding",
      "description": "Video encoding status"
    },
    {
      "name": "Kalendar",
      "description": "Kikiskothek scheduled reveal calendar"
    },
    {
      "name": "Kikiskothek",
      "description": "Kikiskothek seasons, episodes, and search"
    },
    {
      "name": "Movies & Series",
      "description": "Movie and series catalogue"
    },
    {
      "name": "Proposals",
      "description": "Suggest content from TMDB"
    },
    {
      "name": "Cinema",
      "description": "Shared cinema watch-together sessions"
    },
    {
      "name": "Settings",
      "description": "User preferences"
    },
    {
      "name": "Admin",
      "description": "Admin-only management endpoints. Requires elevated (admin) session."
    },
    {
      "name": "Admin Kikiskothek",
      "description": "Kikiskothek calendar management. Requires admin or DJ role."
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in",
        "description": "Authenticate with username/email and password. Sets the `PROTOGEN_SESSION` cookie on success.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Username (with or without leading @) or e-mail address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "redirect": {
                      "type": "string",
                      "description": "Redirect URL after login; `/onboard/{token}` for non-onboarded users, `/` otherwise",
                      "example": "/"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "username": {
                          "type": "string"
                        },
                        "displayname": {
                          "type": "string"
                        },
                        "onboarded": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Wrong credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/validateToken": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Validate an invite/auth token",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token string to validate"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing token"
          }
        }
      }
    },
    "/auth/validateLogin": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Validate credentials without creating a session",
        "description": "Used by the multi-account switcher to verify credentials before adding them. Does not set a cookie.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "userData": {
                      "type": "object",
                      "description": "Present when credentials are valid",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "displayname": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "avatar": {
                          "type": "string",
                          "format": "uri",
                          "description": "Path to user's profile picture"
                        },
                        "isElevated": {
                          "type": "boolean"
                        },
                        "isDj": {
                          "type": "boolean"
                        },
                        "rank": {
                          "type": "string",
                          "enum": [
                            "user",
                            "admin",
                            "dj"
                          ]
                        },
                        "onboarded": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search videos and channels",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "shortsLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "channelLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "videoOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "shortsOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "channelOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results grouped by type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "videos": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VideoSummary"
                          }
                        },
                        "shorts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VideoSummary"
                          }
                        },
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/autocomplete": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Autocomplete suggestions",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of suggestion strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/getMediaMeta": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get video metadata",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full video metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "video_metadata": {
                      "$ref": "#/components/schemas/VideoMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Video not found"
          }
        }
      }
    },
    "/media/getViewCount": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get total view count for a video",
        "parameters": [
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 11,
              "maxLength": 11
            }
          }
        ],
        "responses": {
          "200": {
            "description": "View count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videoId": {
                      "type": "string"
                    },
                    "totalViews": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/trackView": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Record a video view event",
        "description": "Works for both anonymous and logged-in users. Use `click` when the video starts and `loop` on each replay.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "videoId",
                  "eventType"
                ],
                "properties": {
                  "videoId": {
                    "type": "string"
                  },
                  "eventType": {
                    "type": "string",
                    "enum": [
                      "click",
                      "loop"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "View recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/media/getFeatured": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get homepage featured videos",
        "responses": {
          "200": {
            "description": "Array of featured videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "featured_videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/getPublicMedia": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List public videos (newest first)",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated public video list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/getMostViewedMedia": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List most-viewed videos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 8
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Most-viewed video list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/getRandomMedia": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Get random public videos",
        "description": "Pass already-loaded IDs to avoid duplicates.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 20
                  },
                  "exclude": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "video_id values already displayed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Random videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/like": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Like or unlike a video",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "videoId"
                ],
                "properties": {
                  "videoId": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "like",
                      "unlike"
                    ],
                    "default": "like"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Like toggled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "example": "Video liked"
                    },
                    "liked": {
                      "type": "boolean",
                      "description": "Current like state after the action"
                    },
                    "likeCount": {
                      "type": "integer",
                      "description": "Updated total like count for the video"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "Video not found"
          }
        }
      }
    },
    "/media/checkLike": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Check whether the current user has liked a video",
        "description": "Returns `authenticated: false` and `liked: false` for unauthenticated users instead of 401.",
        "parameters": [
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Like status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "liked": {
                      "type": "boolean"
                    },
                    "likeCount": {
                      "type": "integer"
                    },
                    "authenticated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/getLikedVideos": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get all videos liked by the current user",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Must match the authenticated user's ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Liked videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or wrong user_id"
          }
        }
      }
    },
    "/media/getUserMedias": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get videos uploaded by a specific user",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username or user ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's public videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/media/getWatchLater": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get the current user's watch later list",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Must match the authenticated user's ID."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watch later videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoSummary"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/checkWatchLater": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Check whether a video is in the user's watch later list",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "in_watch_later": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/addToWatchLater": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Add a video to watch later",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_id"
                ],
                "properties": {
                  "video_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added / already in list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/media/removeFromWatchLater": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Remove a video from watch later",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_id"
                ],
                "properties": {
                  "video_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/media/getResolutions": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List available download resolutions for a video",
        "description": "Only returns results when the video has `download = 1` in its tags.",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available resolutions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "1080p"
                          },
                          "label": {
                            "type": "string",
                            "example": "1080p (Full HD)"
                          },
                          "file": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Download not allowed for this video"
          },
          "404": {
            "description": "Video not found"
          }
        }
      }
    },
    "/media/getMusic": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List music-tagged videos",
        "description": "Returns videos that have at least one music-related tag (music, musique, musiques, song, songs, chanson, chansons, clip, clips). Visibility respects the caller's login state.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Music video list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MediaItem"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPreviewUrl": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get preview/clip URL for a video",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preview URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "preview_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "video_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/getMeta": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get channel metadata",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username of the channel"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel + user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelMeta"
                }
              }
            }
          },
          "404": {
            "description": "Channel not found"
          }
        }
      }
    },
    "/channels/getVideos": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List videos uploaded by a channel",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of video objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VideoSummary"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Channel or videos not found"
          }
        }
      }
    },
    "/channels/checkSubscription": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Check subscription status",
        "description": "Returns `is_subscribed: false` for unauthenticated users without a 401.",
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "is_subscribed": {
                      "type": "boolean"
                    },
                    "subscriber_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/subscribe": {
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Subscribe or unsubscribe from a channel",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel_id",
                  "action"
                ],
                "properties": {
                  "channel_id": {
                    "type": "integer"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "subscribe",
                      "unsubscribe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action performed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "subscribed",
                        "unsubscribed"
                      ],
                      "description": "The action that was performed"
                    },
                    "subscriber_count": {
                      "type": "integer",
                      "description": "Updated subscriber count for the channel"
                    },
                    "message": {
                      "type": "string",
                      "example": "Abonné avec succès"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Already subscribed / not subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Cannot subscribe to own channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/getComments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get comments for a video",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/comments/getReplies": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get replies to a comment",
        "parameters": [
          {
            "name": "parent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "replies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/comments/create": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Post a comment or reply",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_id",
                  "content"
                ],
                "properties": {
                  "video_id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "parent_id": {
                    "type": "integer",
                    "description": "Set to reply to another comment"
                  },
                  "videoType": {
                    "type": "string",
                    "enum": [
                      "video",
                      "short",
                      "movie",
                      "series"
                    ],
                    "default": "video"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "example": "Commentaire créé"
                    },
                    "comment": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/comments/update": {
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Edit an existing comment",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_id",
                  "content"
                ],
                "properties": {
                  "comment_id": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 10000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          },
          "403": {
            "description": "Not the comment author"
          }
        }
      }
    },
    "/comments/delete": {
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment (soft-delete)",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          },
          "403": {
            "description": "Not the comment author"
          }
        }
      }
    },
    "/comments/like": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Like or dislike a comment",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_id"
                ],
                "properties": {
                  "comment_id": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "like",
                      "dislike"
                    ],
                    "default": "like"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reaction recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "example": "Commentaire liké"
                    },
                    "likes": {
                      "type": "integer",
                      "description": "Updated total like count for the comment"
                    },
                    "dislikes": {
                      "type": "integer",
                      "description": "Updated total dislike count for the comment"
                    },
                    "user_like_status": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "like",
                        "dislike",
                        null
                      ],
                      "description": "Current reaction of the user after the action (null when toggled off)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid reaction type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/playlists/list": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "List playlists",
        "description": "Without `owner`, returns public playlists. Owners get their private/unlisted playlists too when authenticated.",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by owner user ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlists with details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "playlists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Playlist"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/playlists/get": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Get a playlist with its videos",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist data and items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlaylistItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Private playlist"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/playlists/create": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create a new playlist",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ],
                    "default": "public"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Playlist created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/playlists/update": {
      "patch": {
        "tags": [
          "Playlists"
        ],
        "summary": "Update a playlist",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          },
          "403": {
            "description": "Not the playlist owner"
          }
        }
      }
    },
    "/playlists/delete": {
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Delete a playlist",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          },
          "403": {
            "description": "Not the playlist owner"
          }
        }
      }
    },
    "/playlists/addVideo": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Add a video to a playlist",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "playlist_id",
                  "video_id"
                ],
                "properties": {
                  "playlist_id": {
                    "type": "integer"
                  },
                  "video_id": {
                    "type": "string"
                  },
                  "position": {
                    "type": "integer",
                    "description": "Optional insertion position (0-indexed)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          },
          "403": {
            "description": "Not the playlist owner"
          }
        }
      }
    },
    "/playlists/removeVideo": {
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Remove a video from a playlist",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "playlist_id",
                  "video_id"
                ],
                "properties": {
                  "playlist_id": {
                    "type": "integer"
                  },
                  "video_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          },
          "403": {
            "description": "Not the playlist owner"
          }
        }
      }
    },
    "/notifications/get": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get notifications for the current user",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Pass `true` to return only unread notifications"
          }
        ],
        "responses": {
          "200": {
            "description": "Notification list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "notifications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notification"
                      }
                    },
                    "unread_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/getUnreadCount": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get unread notification count",
        "description": "Returns 0 for unauthenticated users without a 401.",
        "responses": {
          "200": {
            "description": "Unread count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "unread_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/markAsRead": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark one or all notifications as read",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notification_id": {
                    "type": "integer",
                    "description": "Omit to use `mark_all`."
                  },
                  "mark_all": {
                    "type": "boolean",
                    "description": "Set to `true` to mark all as read."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marked as read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/trackHistory": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "Record a watch history entry",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "content_type",
                  "content_id"
                ],
                "properties": {
                  "content_type": {
                    "type": "string",
                    "enum": [
                      "video",
                      "short",
                      "movie",
                      "series"
                    ]
                  },
                  "content_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "History entry created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "example": "Ajouté à l'historique"
                    },
                    "history_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/encoding/status": {
      "get": {
        "tags": [
          "Encoding"
        ],
        "summary": "Poll encoding progress for a video",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw encoder API status response (JSON passthrough)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "number",
                      "description": "0â€“100"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getKalendarEntries": {
      "get": {
        "tags": [
          "Kalendar"
        ],
        "summary": "Get Kikiskothek calendar entries for a month",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "description": "Defaults to 12"
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Defaults to current year"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar entries and metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KalendarEntry"
                      }
                    },
                    "availableYears": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "isAdmin": {
                      "type": "boolean",
                      "description": "Whether the current user is an admin (admins/DJs see hidden entries)"
                    },
                    "isDj": {
                      "type": "boolean",
                      "description": "Whether the current user has the DJ role"
                    },
                    "selectedYear": {
                      "type": "integer"
                    },
                    "selectedMonth": {
                      "type": "integer"
                    },
                    "currentYear": {
                      "type": "integer"
                    },
                    "currentMonth": {
                      "type": "integer"
                    },
                    "currentDay": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/media/listMovies": {
      "get": {
        "tags": [
          "Movies & Series"
        ],
        "summary": "List all available movies",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Movie list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "movies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Movie"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/media/listSeries": {
      "get": {
        "tags": [
          "Movies & Series"
        ],
        "summary": "List all available series",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Series list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "series": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Series"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/getSeriesEpisodes": {
      "get": {
        "tags": [
          "Movies & Series"
        ],
        "summary": "Get all completed episodes for a series (flat list)",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "series_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flat episode list sorted by season/episode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "episodes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "episode_id": {
                            "type": "integer"
                          },
                          "season_id": {
                            "type": "integer"
                          },
                          "season_number": {
                            "type": "integer"
                          },
                          "episode_number": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getEpisodeBreakpoints": {
      "get": {
        "tags": [
          "Movies & Series"
        ],
        "summary": "Get chapter/breakpoint timestamps for an episode",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Breakpoints JSON (null if not defined)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "breakpoints": {
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/seriesWatchProgress": {
      "post": {
        "tags": [
          "Movies & Series"
        ],
        "summary": "Save or retrieve series watch progress",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "apiKeyHeader": []
          }
        ],
        "description": "Multipurpose series progress endpoint. Use the `action` field to select behaviour.\n\n- **save** – save current playback position\n- **get** – retrieve progress for a specific episode (or the last-watched episode for resume)\n- **get_all** – retrieve all progress entries for a series\n- **mark_completed** – mark a specific episode as fully watched",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "save",
                      "get",
                      "get_all",
                      "mark_completed"
                    ]
                  },
                  "series_id": {
                    "type": "integer",
                    "description": "Required for save / getAll"
                  },
                  "season_id": {
                    "type": "integer"
                  },
                  "episode_id": {
                    "type": "integer"
                  },
                  "video_id": {
                    "type": "string",
                    "description": "Required for save / get"
                  },
                  "current_time": {
                    "type": "number",
                    "description": "Playback position in seconds (save)"
                  },
                  "duration": {
                    "type": "number",
                    "description": "Total duration in seconds (save)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result depends on action",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "save response",
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "completed": {
                          "type": "boolean",
                          "description": "True when episode was watched past 90%"
                        }
                      }
                    },
                    {
                      "title": "get response",
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "progress": {
                          "$ref": "#/components/schemas/SeriesProgress",
                          "nullable": true,
                          "description": "Episode progress (get with episode_id)"
                        },
                        "last_watched": {
                          "$ref": "#/components/schemas/SeriesProgress",
                          "nullable": true,
                          "description": "Last incomplete episode (get without episode_id)"
                        }
                      }
                    },
                    {
                      "title": "get_all response",
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "progress": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SeriesProgress"
[...]
